Standalone Launch Sequence (Confidential Client) : Fatal Error:- No implicit conversion of nil into String

Anyone facing problem with the Standalone Launch (confidential) with the new update?
I'm using the reference implementation for testing: https://inferno.healthit.gov/inferno/
Our FHIR Server was getting all green checks in the previous release. 
I'm trying to understand if it's actually a bug in the new release.

**Test Step:** SLS-06: OAuth token exchange request succeeds when supplied correct information
After obtaining an authorization code, the app trades the code for an access token via HTTP POST to the EHR authorization server’s token endpoint URL, using content-type application/x-www-form-urlencoded, as described in section 4.1.3 of RFC6749. http://www.hl7.org/fhir/smart-app-launch/

**Test Result:** 
Error Message: Fatal Error: no implicit conversion of nil into String


@vishakos -- it seems likely that this is related to #139 -- the interface does not save the client secret.  Once we get a fix in we'll let you know.  Thanks for the report.

We fixed the issue where the client secret wasn't being properly saved, and deployed the update to https://inferno.healthit.gov.  I believe this should fix your problem.  Could you give it a shot and let us know?

The fix to preserve the client secret resolved the issue. 
We are able to perform a confidential standalone launch. Thanks for the update.

Great!  Thanks again for the report.